@Styles.Render("~/Content/CartPage/CartAllPartial.css")

@{
    //取得當前購物車所有內容
    var currentCart = NikoMealBox.DataAccess.Repository.CartRepository.GetCurrentCart();
}

@foreach (var pd in currentCart)
{
    <div class="ordered-products">
        <img src="@pd.ImagePath" />
        <li>@pd.Name</li>
        <li>@pd.UnitPrice</li>
        <li>@pd.Count</li>
        <li>-</li>
        <li>@pd.Amount</li>
        <li>
            <span onclick="RemoveFromCartAll('@pd.Id')"> <i class="fas fa-trash-alt"></i></span>
        </li>
    </div>
}