@model NikoMealBox.ViewModels.OrderViewModels

@section topCSS{
    <link href="~/Content/CartPage/OrderList.css" rel="stylesheet" />
}

@{
    var currentCart = NikoMealBox.DataAccess.Repository.CartRepository.GetCurrentCart();
}
<div class="container">
    <div class="title">
        <h2>訂單已成立</h2>
    </div>

    <div class="ensure-list" id="products">
        <div class="ensure-bar">
            <p>商品確認</p>
        </div>
        <div class="ensure-content">
            <p class="label">訂購商品:</p>
            <div class="each-content-group">
                @foreach (var product in currentCart)
                {
                    <div class="each-content">
                        <img src="@product.ImagePath">
                        <div>@product.Name x @product.Count</div>
                        <div>
                            @{
                                var total = product.UnitPrice * product.Count;
                            }
                            @total 元
                        </div>
                    </div>
                }
                <div class="each-content" id="total">總計 @currentCart.TotalAmount</div>
            </div>
        </div>
    </div>

    <div class="ensure-list" id="userdatas">
        <div class="ensure-bar">
            <p>資料確認</p>
        </div>
        <div class="ensure-content">
            <p class="label">人員資料:</p>
            <div class="each-content-group">
                <p class="each-content">@Model.CreateUser</p>
                <p class="each-content">@Model.Sex</p>
                <p class="each-content">@Model.ContactPhone</p>
                <p class="each-content">@Model.ContactMail</p>
                <p class="each-content">@Model.PickUpCity@Model.PickUpRegion@Model.PickUpAddress</p>
                <p class="each-content">@Model.GetProductDate</p>
                <p class="each-content">@Model.Remark</p>
            </div>
        </div>
    </div>

    <div class="step-button-group">
        <a id="modify" href="#">修改訂單</a>
        @* 物件對應model/Orders *@
        @Html.ActionLink("結賬付款", "CreateOrder", "CartAll", Model , new { @id = "ensure-order" })
    </div>
</div>


<script>
    // 直接回上一頁XD
    var modifyBtn = document.getElementById('modify');
    modifyBtn.addEventListener('click', function () {
        history.back();
    })
</script>