@section topCSS{

    <link href="~/Content/ShoppingCarPage/cart.css" rel="stylesheet" />
}
@{
    ViewBag.Title = "Index";
    var cart = NikoMealBox.DataAccess.Repository.CartRepository.GetCurrentCart();
}

<div class="shopping-process">
    <div class="container">
        <div class="step-bars">
            <ul>
                <li>
                    <span>1</span>
                    商品確認
                </li>
                <li>
                    <span>2</span>
                    資料確認
                </li>
                <li>
                    <span>3</span>
                    付款確認
                </li>
            </ul>
        </div>

        <div class="hint-bar">
            <p>訂購金額未滿$600 無法外送</p>
        </div>

        <div class="ordered-items justify-content-around d-flex w-100 px-2">
            <span>訂購品項</span>
            <span class="e">品名</span>
            <span class="e">單價NT$</span>
            <span class="e">數量</span>
            <span class="e">規格</span>
            <span class="e">小計NT$</span>
            <span class="e">刪除</span>

            @*@foreach (var pd in cart)
                {
                    <div><img src="@pd.ImagePath" width="50" height="50" /></div>
                    <div>@pd.Name</div>
                    <div>@pd.UnitPrice</div>
                    <div>@pd.Count</div>
                    <div>@pd.Amount</div>
                }*@
            @*<td>@cart.TotalAmount</td>*@
        </div>

        <div class="varvalue" id="varvalue">

            @foreach (var pd in cart)
            {
                <div class="ordered-products justify-content-around d-flex my-5 mx-4">
                    <div class="pic mr-5">
                        <img src="@pd.ImagePath" width="200" height="150" />
                    </div>

                    <ul class="group d-flex justify-content-around w-100 my-2">

                        <li>@pd.Name</li>
                        <li>@pd.UnitPrice</li>
                        <li>@pd.Count</li>
                        <li>-</li>
                        <li>@pd.Amount</li>
                        <li><span onclick="RemoveFromCart('@pd.Id')"> <i class="fas fa-trash-alt"></i></span></li>

                    </ul>
                </div>
            }
        </div>
        <div style="margin-top:20px;" class="row">
            <div class="col-12 col-md-4 delivery_date">
                <p>送達日期<input type="date"></p>
            </div>
            <div class="col-12 col-md-8 delivery_time">
                <p>送達時段<input type="time"></p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 d-flex  justify-content-between">
                <button class="btn-1">繼續選購光光商品</button>
                <div class="total">
                    <p class="">購物金額 @cart.TotalAmount + 運費 $0=  <span>@cart.TotalAmount</span></p>
                </div>
            </div>
        </div>


        <div class="step-bars-two">
            <ul>
                <li>
                    <span>1</span>
                    商品確認
                </li>
                <li>
                    <span>2</span>
                    資料確認
                </li>
                <li>
                    <span>3</span>
                    付款確認
                </li>
            </ul>
        </div>


        <div class="row">
            <div class="col-12 col-md-8 my-2">
                <div class="login-1">
                    <button class="btn-2">
                        <span class="a">已經有帳號了?</span>
                        <span class="b">快速登入(訂購無須重新輸入個人資料,結帳更方便且可查詢完整訂購資訊)</span>
                    </button>
                </div>
            </div>
            <div class="col-12 col-md-4 my-2">
                <div class="login-2">
                    <button class="btn-3">Facebook快速登入</button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 col-6">
                <form>
                    <label class="ml-2">您的姓名<span class="text-danger">*</span></label>
                    <input style="border-radius: 25px;height: 40px;" class="form-control" type="text" name="name"
                           value="" required />
            </div>
            <div class="col-md-1 col-6">
                <label class="ml-2">性別<span class="text-danger">*</span></label>
                <select style="border-radius: 25px;height: 40px;" class="form-control">
                    <option>男</option>
                    <option>女</option>
                </select>
            </div>
            <div class="col-md-4 col-12 ">
                <label class="mt-3 mt-md-0">電話（範例：0912345678或0423456789）<span class="text-danger">*</span></label>
                <input style="border-radius: 25px;height: 40px;" class="form-control" type="text" name="name"
                       value="" required>
            </div>
            <div class="col-md-4 col-12">
                <label class="mt-3 mt-md-0">Email（請填寫正確信箱，以獲得優惠碼與活動資訊<span class="text-danger">*</span></label>
                <input style="border-radius: 25px;height: 40px;" type="email" class="form-control" id="inputEmail3"
                       placeholder="請輸入您的電子信箱,以作為會員登入帳號。">
            </div>
        </div>


        <div class="row mt-3">
            <div class="col-md-6">
                <label class="ml-2">地址<span class="label_danger">*</span></label>
                <div class="d-flex">
                    <select style="border-radius: 25px;" class="form-control mr-3">
                        <option>台中市</option>
                    </select>
                    <select style="border-radius: 25px;" class="form-control">
                        <option>東區</option>
                        <option>西區</option>
                        <option>西屯區</option>
                        <option>中區</option>
                        <option>南區</option>
                        <option>南屯區</option>
                        <option>北區</option>
                        <option>北屯區</option>
                        <option>太平區</option>
                        <option>大里區</option>
                    </select>
                </div>
            </div>

            <div class="deatail-address col-md-6 ">
                <label class="ml-2" for="customerName">
                    詳細地址<span class="label_danger">
                        *
                        若非上述區域之客戶，請來電洽詢
                    </span>
                </label>

                <input style="border-radius: 25px;height: 40px;" type="email" class="form-control" id="inputEmail3"
                       placeholder="例:永大街201巷39號">
            </div>
        </div>

        <div class="form-check">
            <form>
                <input style="margin-top: 15px;margin-left: -10px;" class="form-check-input" type="radio"
                       name="exampleRadios" id="exampleRadios1" value="option1" checked>
                <label style="margin-left: 10px;margin-top: 10px;" class="form-check-label" for="exampleRadios1">
                    備註說明
                </label>
                <input style=" width: 1170px; border-radius: 25px;height: 40px;margin-left: -20px;margin-top: 5px;"
                       class="form-control" id="customerName" type="text" name="name" value="" required="required">
            </form>
        </div>

        <div class="form-check">
            <input style="margin-top: 15px;margin-left: -10px;" class="form-check-input" type="radio"
                   name="exampleRadios" id="exampleRadios1" value="option1" checked>
            <label style="margin-left: 10px;margin-top: 10px;" class="form-check-label" for="exampleRadios1">
                我同意接受光光盒餐<span class="c">會員條款</span>和<span class="d">隱私權政策</span>
            </label>
        </div>

        <div class="form-check">
            <input style="margin-top: 15px;margin-left: -10px;" class="form-check-input" type="radio"
                   name="exampleRadios" id="exampleRadios1" value="option1" checked>
            <label style="margin-left: 12px;margin-top: 10px;" class="form-check-label" for="exampleRadios1">
                3秒鐘建立帳號！下次無須重新輸入個人資料，結帳更方便，並可查詢完整訂購資訊與電子報。</br>
                您輸入的Email即為帳號名稱，請在下方設定密碼，立即完成您的帳號建立。</br>
                如果您已經建立過帳號，可直接在網頁上方登入。
            </label>
        </div>

        <div class="row password">
            <div class="col-md-4">
                <label class="ml-2" for="customerName">設定密碼<span class="label_danger">*</span></label>
                <div>
                    <input style="border-radius: 25px;" type="email" class="form-control" id=""
                           placeholder="至少六個字元以上">
                </div>
            </div>
            <div class="col-md-4 ">
                <label class="ml-2" for="customerName">確認密碼<span class="label_danger">*</span></label>
                <div>
                    <input style="border-radius: 25px" type="email" class="form-control" id=""
                           placeholder="請再輸入一次密碼">
                </div>
            </div>
        </div>


        <div class="step-bars-three">
            <ul>
                <li>
                    <span>1</span>
                    商品確認
                </li>
                <li>
                    <span>2</span>
                    資料確認
                </li>
                <li>
                    <span>3</span>
                    付款確認
                </li>
            </ul>
        </div>

        <div class="row ml-4">
            <div class="col-md-2 my-1">
                <input class="form-check-input" type="radio" name="exampleRadios" id="" value="option1" checked>
                <label class="form-check-label" for="exampleRadios1">
                    信用卡付款
                </label>
            </div>
            <div class="col-md-2 my-1 ">
                <input class="form-check-input" type="radio" name="exampleRadios" id="" value="option1" checked>
                <label class="form-check-label" for="">
                    LINE Pay
                </label>
            </div>
            <div class="col-md-3">
                <div class="form-group d-flex ">
                    <label for="inputEmail3" class="form-label d-flex align-items-end">公司統編</label>
                    <div class="col-8 ">
                        <input type="email" class="form-control border rounded-pill " id="inputEmail3">
                    </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="row ml-2 my-3">
            <button class="btn-4">下單購買</button>
        </div>


    </div>
</div>
<script type="text/javascript">
    function RemoveFromCart(productId) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("RemoveFromCart","CartAll")',
                data: { id: productId }
            })
                .done(function (msg) {
                    $('div#varvalue').html(msg);
                });
        }

</script>
<script src="https://kit.fontawesome.com/05c128ff7b.js" crossorigin="anonymous"></script>