@model NikoMealBox.ViewModels.OrderViewModels
@section topCSS{

    <link href="~/Content/CartPage/Form.css" rel="stylesheet" />
}
@{
    var currentCart = NikoMealBox.DataAccess.Repository.CartRepository.GetCurrentCart();
}

<div class="shopping-process">
    <div class="container">
        <div class="step-bars" id="stepOne">
            <ul>
                <li>
                    <span>1</span>
                    商品確認
                </li>
                <li>
                    <span>2</span>
                    資料確認
                </li>
                <li>
                    <span>3</span>
                    付款確認
                </li>
            </ul>
        </div>

        <div class="hint-bar">
            <p>訂購金額未滿$600 無法外送</p>
        </div>

        <div class="ordered-items-title">
            <span>訂購品項</span>
            <span class="e">品名</span>
            <span class="e">單價NT$</span>
            <span class="e">數量</span>
            <span class="e">規格</span>
            <span class="e">小計NT$</span>
            <span class="e">刪除</span>
        </div>

        <div class="ordered-items">
            @Html.Partial("_CartAllPartial")
        </div>


        @*運費之後修*@
        <div class="ordered-items-footer">
            <a href="@Url.Action("Index", "Products")">繼續選購光光商品</a>
            <p>
                購物金額 @currentCart.TotalAmount + 運費 $0=
                <span>@currentCart.TotalAmount</span>
            </p>
        </div>


        <div class="step-bars" id="stepTwo">
            <ul>
                <li>
                    <span>1</span>
                    商品確認
                </li>
                <li>
                    <span>2</span>
                    資料確認
                </li>
                <li>
                    <span>3</span>
                    付款確認
                </li>
            </ul>
        </div>

        @*表單*@
        <form action="~/CartAll/PostToECPay" method="post" id="order-form">
            <div class="form-row">
                <div id="order-name" class="input-area">
                    <label for="CreateUser" class="required">姓名</label>
                    <input type="text" name="CreateUser" class="form-control" value="@Model.CreateUser" />
                </div>

                <div id="order-sex" class="input-area">
                    <label for="Sex" class="required">性別</label>
                    <select class="form-control" name="Sex">
                        @if (Model.Sex == "男性" || Model.Sex == "M" || Model.Sex == "男")
                        {
                            <option value="男" selected>男</option>
                            <option value="女">女</option>
                        }
                        else
                        {
                            <option value="男">男</option>
                            <option value="女" selected>女</option>
                        }
                    </select>
                </div>

                <div id="order-phone" class="input-area">
                    <label for="ContactPhone" class="required">電話</label>
                    <input type="text" name="ContactPhone" class="form-control" value="@Model.ContactPhone" />
                </div>

                <div id="order-mail" class="input-area">
                    <label for="ContactMail">Email</label>
                    <input type="text" name="ContactMail" class="form-control" value="@Model.ContactMail" />
                </div>
            </div>

            <div class="form-row" id="address">
                <div id="order-city" class="input-area">
                    <label for="PickUpCity" class="required">地址</label>
                    <select class="form-control" name="PickUpCity">
                        <option value="台北市">台北市</option>
                    </select>
                </div>

                <div id="order-region" class="input-area">
                    <label for="PickUpRegion" class="required">市區</label>
                    <select class="form-control" name="PickUpRegion">
                        <option value="北投區">北投區</option>
                        <option value="士林區">士林區</option>
                        <option value="內湖區">內湖區</option>
                        <option value="松山區">松山區</option>
                        <option value="中山區">中山區</option>
                        <option value="大同區">大同區</option>
                        <option value="南港區">南港區</option>
                        <option value="信義區">信義區</option>
                        <option value="大安區">大安區</option>
                        <option value="中正區">中正區</option>
                        <option value="萬華區">萬華區</option>
                        <option value="文山區">文山區</option>
                    </select>
                </div>

                <div id="order-address">
                    <label for="PickUpAddress" class="required">詳細地址</label>
                    <input type="text" name="PickUpAddress" class="form-control" />
                </div>
            </div>

            <div class="form-row">
                <div class="input-area" id="remark">
                    <label for="Remark">備註說明</label>
                    <input type="text" name="Remark" value="" class="form-control" />
                </div>
            </div>

            <div class="form-row" id="datetime">
                <div class="input-area" id="delivery-date">
                    <label for="GetProductDate">送達日期</label>
                    <input type="datetime-local" name="GetProductDate" class="form-control" />
                </div>
            </div>


            <div class="step-bars" id="stepThree">
                <ul>
                    <li>
                        <span>1</span>
                        商品確認
                    </li>
                    <li>
                        <span>2</span>
                        資料確認
                    </li>
                    <li>
                        <span>3</span>
                        付款確認
                    </li>
                </ul>
            </div>

            <div class="form-row" id="submit">
                @if (currentCart.TotalAmount != 0)
                {
                <button class="submit-btn" type="submit">下單購買</button>
                }
            </div>
        </form>
        @*表單尾*@
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/additional-methods.min.js"></script>
<script>
    function RemoveFromCartAll(productId) {
            $.ajax({
            type: 'POST',
                url: '@Url.Action("RemoveFromCart", "CartAll")',
                data: { id: productId }
            })
            .done(function (msg) {
                $('div.ordered-items').html(msg);
            });
    }

    // 驗證
    var validate = $("#order-form").validate({
        rules: {
            CreateUser: {
                required: true
            },
            ContactPhone: {
                required: true,
                isMobile: true,
            },
            ContactMail: {
                required: true,
                email: true,
            },
            PickUpAddress: {
                required: true,
            },
            Remark: {
                maxlength: 60,
            },
            GetProductDate: {
                required: true,
            },
            Payment: {
                required: true,
            }
        },
        //錯誤提示
        messages: {
            CreateUser: "請填寫姓名",
            ContactPhone: "請填寫如 0978555123、(02)29447598格式",
            ContactMail: "請填寫正確格式的mail",
            PickUpAddress: "請填寫完整地址",
            Remark: "最大長度60字",
            GetProductDate: "請選擇取餐日期",
            Payment: "請選擇付款方式",
        },
    });

    jQuery.validator.addMethod("isMobile", function (value, element) {
        var mobile = /^\(?(\d{2})\)?[\s\-]?(\d{4})\-?(\d{4})$/;
        return this.optional(element) || mobile.test(value)
    });

    // 日期驗證
    var dateinput = document.getElementsByName('GetProductDate')[0];
    var nextDay = new Date().setDate(new Date().getDate() + 1);
    dateinput.min = new Date(nextDay).toISOString().split("T")[0] + "T00:00";

</script>
<script src="https://kit.fontawesome.com/05c128ff7b.js" crossorigin="anonymous"></script>
