@model NikoMealBox.ViewModels.OrderViewModels
@section topCSS{

    <link href="~/Content/CartPage/Form.css" rel="stylesheet" />
}
@{
    var currentCart = NikoMealBox.DataAccess.Repository.CartRepository.GetCurrentCart();
}

<div class="shopping-process">
    <div class="container">
        <div class="step-bars" id="stepOne">
            <ul>
                <li>
                    <span>1</span>
                    商品確認
                </li>
                <li>
                    <span>2</span>
                    資料確認
                </li>
                <li>
                    <span>3</span>
                    付款確認
                </li>
            </ul>
        </div>

        <div class="hint-bar">
            <p>訂購金額未滿$600 無法外送</p>
        </div>

        <div class="ordered-items-title">
            <span>訂購品項</span>
            <span class="e">品名</span>
            <span class="e">單價NT$</span>
            <span class="e">數量</span>
            <span class="e">規格</span>
            <span class="e">小計NT$</span>
            <span class="e">刪除</span>
        </div>

        <div class="ordered-items">
            @Html.Partial("_CartAllPartial")
        </div>


        @*運費之後修*@
        <div class="ordered-items-footer">
            <a href="@Url.Action("Index","Products")">繼續選購光光商品</a>
            <p>
                購物金額 @currentCart.TotalAmount + 運費 $0=
                <span>@currentCart.TotalAmount</span>
            </p>
        </div>


        <div class="step-bars" id="stepTwo">
            <ul>
                <li>
                    <span>1</span>
                    商品確認
                </li>
                <li>
                    <span>2</span>
                    資料確認
                </li>
                <li>
                    <span>3</span>
                    付款確認
                </li>
            </ul>
        </div>

        @*表單*@
        <form action="~/CartAll/CheckOrderList" method="post">
            <div class="form-row">
                <div id="order-name" class="input-area">
                    <label for="CreateUser" class="required">姓名</label>
                    <input type="text" name="CreateUser" class="form-control" value="@Model.CreateUser" />
                </div>

                <div id="order-sex" class="input-area">
                    <label for="Sex" class="required">性別</label>
                    <select class="form-control" name="Sex">
                        @if (Model.Sex == "man")
                        {
                            <option value="男" selected>男</option>
                            <option value="女">女</option>
                        }
                        else
                        {
                            <option value="男">男</option>
                            <option value="女" selected>女</option>
                        }
                    </select>
                </div>

                <div id="order-phone" class="input-area">
                    <label for="ContactPhone" class="required">電話</label>
                    <input type="text" name="ContactPhone" class="form-control" placeholder="範例：0912345678" value="@Model.ContactPhone" />
                </div>

                <div id="order-mail" class="input-area">
                    <label for="ContactMail">Email</label>
                    <input type="text" name="ContactMail" class="form-control" value="@Model.ContactMail" />
                </div>
            </div>

            <div class="form-row" id="address">
                <div id="order-city" class="input-area">
                    <label for="PickUpCity" class="required">地址</label>
                    <select class="form-control" name="PickUpCity">
                        <option value="台中市">台中市</option>
                    </select>
                </div>

                <div id="order-region" class="input-area">
                    <label for="PickUpRegion" class="required">市區</label>
                    <select class="form-control" name="PickUpRegion">
                        <option value="東區">東區</option>
                        <option value="西區">西區</option>
                        <option value="西屯區">西屯區</option>
                        <option value="中區">中區</option>
                        <option value="南區">南區</option>
                        <option value="南屯區">南屯區</option>
                        <option value="北區">北區</option>
                        <option value="北屯區">北屯區</option>
                        <option value="太平區">太平區</option>
                        <option value="大里區">大里區</option>
                    </select>
                </div>

                <div id="order-address">
                    <label for="PickUpAddress" class="required">詳細地址</label>
                    <input type="text" name="PickUpAddress" class="form-control" />
                </div>
            </div>

            <div class="form-row">
                <div class="input-area" id="remark">
                    <label for="Remark">備註說明</label>
                    <input type="text" name="Remark" value="" class="form-control" />
                </div>
            </div>

            <div class="form-row" id="datetime">
                <div class="input-area" id="delivery-date">
                    <label for="GetProductDate">送達日期</label>
                    <input type="datetime-local" name="GetProductDate" class="form-control" />
                </div>
            </div>


            <div class="step-bars" id="stepThree">
                <ul>
                    <li>
                        <span>1</span>
                        商品確認
                    </li>
                    <li>
                        <span>2</span>
                        資料確認
                    </li>
                    <li>
                        <span>3</span>
                        付款確認
                    </li>
                </ul>
            </div>

            <div class="form-row" id="payment">
                <div class="payment-checkbox-group">
                    <input type="radio" name="Payment" value="信用卡付款" /> 信用卡付款
                    <input type="radio" name="Payment" value="Line Pay" /> LINE Pay
                </div>
            </div>

            <div class="form-row" id="submit">
                @if (currentCart.Count == 0)
                {
                    <button class="submit-btn" id="emptycart">下單購買</button>
                }
                else
                {
                    <button class="submit-btn">下單購買</button>
                }
            </div>
        </form>
        @*表單尾*@
    </div>
</div>

<script>
    function RemoveFromCartAll(productId) {
            $.ajax({
            type: 'POST',
                url: '@Url.Action("RemoveFromCart", "CartAll")',
                data: { id: productId }
            })
            .done(function (msg) {
                $('div.ordered-items').html(msg);
            });
    }

    var emptycartBtn = document.getElementById("emptycart");
    emptycartBtn.addEventListener('click'function (e) {
        e.preventDefault();
        alert("購物車為空!");
    });
</script>
<script src="https://kit.fontawesome.com/05c128ff7b.js" crossorigin="anonymous"></script>
