<h2>OrderList</h2>

<p>@ViewData["username"]</p>
<p>@ViewData["sex"]</p>
<p>@ViewData["phone"]</p>
<p>@ViewData["mail"]</p>
<p>@ViewData["city"]@ViewData["district"]@ViewData["detailaddress"]</p>
<p>@ViewData["deliverydate"]@ViewData["deliverytime"]</p>
<p>@ViewData["payment"]</p>