@model List<NikoMealBox.ViewModels.OrderCollectViewModels>
<link href="~/Content/CartPage/OrderCollect.css" rel="stylesheet" />

<div class="container" id="btn-group-container">
    <div class="btn-group">
        <button class="switch btn-checked" id="switch-all">全部</button>
        <button class="switch">待入賬</button>
        <button class="switch">製作中</button>
        <button class="switch">運送中</button>
        <button class="switch">已結單</button>
    </div>
</div>

<div class="container">
    <div class="card-group">
        @foreach (var orderCollect in Model)
        {
            <div class="card-wrap">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">
                            <h4 class="order-id">#@orderCollect.Order.Id</h4>
                            <p class="order-status">@orderCollect.Status</p>
                        </div>
                        <div class="order-date-group">
                            <p class="order-date">訂單時間 @orderCollect.Order.CreateTime</p>
                            @if (orderCollect.Status == "已結單")
                            {
                                <p class="finish-date">結單時間 @orderCollect.Order.FinishDate</p>
                            }
                            else
                            {
                                <p class="pick-up-date">預計取貨時間 @orderCollect.Order.GetProductDate</p>
                            }
                        </div>
                        <div class="order-other-info">
                            <ul>
                                <li class="username">名字: @orderCollect.Order.CreateUser</li>
                                <li class="phone">連絡電話: @orderCollect.Order.ContactPhone</li>
                                <li class="address">地址: @orderCollect.Order.PickUpRegion @orderCollect.Order.PickUpCity @orderCollect.Order.PickUpAddress</li>
                                <li class="payment">付款方式: @orderCollect.Order.Payment</li>
                                <li class="remark">備註: @orderCollect.Order.Remark</li>
                            </ul>
                        </div>
                        <p class="detail-show">檢視購買商品</p>
                        <p class="detail-hide">取消檢視</p>
                        <div class="order-detail-group">
                            <hr />
                            @foreach (var product in orderCollect.products)
                            {
                                <div class="order-item">
                                    <img src="@product.Product.ImagePath" />
                                    <p class="productname">@product.Product.ProductName</p>
                                    <p class="count">x @product.Quantity</p>
                                    @{ 
                                        var totalprice = product.Quantity * product.Product.UnitPrice;
                                    }
                                    <p class="total-price">$@totalprice</p>
                                </div>
                            }
                            <hr />
                            <div class="qrcode">
                                <p>自取掃描結單</p>
                                <div id=@string.Concat("qr",orderCollect.Order.Id.ToString())></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/qrcode.js"></script>
<script>
    // qrcode
    let idNodes = $('.order-id').toArray();
    idNodes.forEach((item, index) => {
        idText = item.innerText.replace('#', '');
        new QRCode(document.getElementById("qr" + idText), "id" + idText);
    })

</script>
<script>
    // 訂單詳細狀況隱藏
    $('document').ready(function () {
        $('.order-detail-group').hide();
        $('.detail-hide').hide();
    })

    $('.detail-show').click(function (event) {
        $(event.target).slideUp(300);
        $(event.target.nextElementSibling).slideDown(300);
        $(event.target.nextElementSibling.nextElementSibling).slideDown(500);
    })

    $('.detail-hide').click(function (e) {
        $(e.target).slideUp(300);
        $(e.target.previousElementSibling).slideDown(300);
        $(e.target.nextElementSibling).slideUp(500);
    })

    // 訂單切換顯示
    let allOrderDom = $('.card-wrap').toArray();
    let allSwitchDom = $('.switch').toArray();

    $('.switch').click(function (e) {
        let showDom = allOrderDom.filter(dom => dom.innerText.includes(e.target.innerText));
        let hideDom = allOrderDom.filter(function (v) { return showDom.indexOf(v) == -1 })

        showDom.forEach((item, index) => {
            $(item).slideDown(300);
        })

        hideDom.forEach((item, index) => {
            $(item).slideUp(300);
        });

        // 按鈕標籤切換
        allSwitchDom.forEach((item, index) => {
            $(item).removeClass('btn-checked');
        });

        $(e.target).addClass('btn-checked');
    });

    $('#switch-all').click(function (e) {
        allOrderDom.forEach((item, index) => {
            $(item).slideDown(300);
        });

        allSwitchDom.forEach((item, index) => {
            $(item).removeClass('btn-checked');
        });

        $(e.target).addClass('btn-checked');
    });

</script>