@model IEnumerable<NikoMealBox.ViewModels.OrderCollectViewModels>
<link href="~/Content/CartPage/OrderCollect.css" rel="stylesheet" />

<div class="container">
    <div class="card-group">
        @*@foreach (var orderCollect in Model)
        {
            <div class="card-wrap">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">
                            <h4 class="order-id">#@orderCollect.Order.Id</h4>
                            <p class="order-status shipping">@orderCollect.OrderStatus</p>
                        </div>
                        <div class="order-date-group">
                            <p class="order-date">訂單時間 @orderCollect.Order.CreateTime</p>
                            <p class="pick-up-date">預計取貨時間 @orderCollect.Order.GetProductDate</p>
                            <p class="finish-date hidden">結單時間 @orderCollect.Order.FinishDate</p>
                        </div>
                        <div class="order-other-info">
                            <ul>
                                <li class="username">名字: @orderCollect.Order.CreateUser</li>
                                <li class="phone">連絡電話: @orderCollect.Order.ContactPhone</li>
                                <li class="address">地址: @orderCollect.Order.PickUpRegion @orderCollect.Order.PickUpCity @orderCollect.Order.PickUpAddress</li>
                                <li class="payment">付款方式: @orderCollect.Order.Payment</li>
                                <li class="remark">備註: @orderCollect.Order.Remark</li>
                            </ul>
                        </div>
                        <p class="detail-show">檢視購買商品</p>
                        <p class="detail-hide">取消檢視</p>
                        <div class="order-detail-group">
                            <hr />
                            <div class="order-item">
                                <img src="https://i.imgur.com/kJajggg.png" />
                                <p class="productname">豬肉便當</p>
                                <p class="count">x1</p>
                                <p class="total-price">$150</p>
                            </div>
                            <div class="order-item">
                                <img src="https://i.imgur.com/kJajggg.png" />
                                <p class="productname">豬肉便當</p>
                                <p class="count">x1</p>
                                <p class="total-price">$150</p>
                            </div>
                            <hr />
                            <div class="qrcode">
                                <p>自取掃描結單</p>
                                <img src="https://i.imgur.com/dPu4AKW.png" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }*@
    </div>
</div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
    $('document').ready(function () {
        $('.order-detail-group').hide();
        $('.detail-hide').hide();
    })

    $('.detail-show').click(function (event) {
        $(event.target).slideUp(300);
        $(event.target.nextElementSibling).slideDown(300);
        $(event.target.nextElementSibling.nextElementSibling).slideDown(500);
    })

    $('.detail-hide').click(function (e) {
        $(e.target).slideUp(300);
        $(e.target.previousElementSibling).slideDown(300);
        $(e.target.nextElementSibling).slideUp(500);
    })
</script>