@model NikoMealBox.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "忘記密碼?";
}
@section topCSS{

    <link href="~/Content/LoginPage/Login.css" rel="stylesheet" />
}

<div class="container body-content">
    <div class="gu_breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="@Url.Action("Login","Account")">登入</a>
            </li>
            <li class="breadcrumb-item active">
                忘記密碼
            </li>
        </ol>
    </div>

    <section class="login_wrap">
        <div class="slogan">
            <img src="~/Assets/Images/LoginPage/img_sign-in_text.png" />
            <img src="~/Assets/Images/LoginPage/img_sign-in.png" />
        </div>
        <div class="content_wrap">
            <div class="content">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-lg-6">
                        <div class="login_group gu_form">
                            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary("", new { @class = "text-danger" })
                                <p class="main-title">忘記密碼?</p>
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "電子信箱" })
                                </div>
                                <div class="function_wrap">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" class="clear_btn gu_btn-02 green" value="以電子郵件傳送連結" />
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-lg-6">
                        <div class="register_group">
                            <h1 class="main-title">貼心提醒</h1>
                            <div class="login_bottom">
                                <p>
                                    隨手記錄在備忘錄<br>
                                    不怕訂餐忘記密碼<br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
