@using NikoMealBox.Models
@model LoginViewModel
@{
    ViewBag.Title = "登入";
}
@section topCSS {
    <link href="~/Content/LoginPage/Login.css" rel="stylesheet" />
}

<div class="container body-content">
    <div class="gu_breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="@Url.Action("Index","Home")">首頁</a>
            </li>
            <li class="breadcrumb-item active">
                會員登入
            </li>
        </ol>
    </div>

    <section class="login_wrap">
        <div class="slogan">
            <img src="~/Assets/Images/LoginPage/img_sign-in_text.png" />
            <img src="~/Assets/Images/LoginPage/img_sign-in.png" />
        </div>
        <div class="content_wrap">
            <div class="content">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-lg-6">
                        <div class="login_group gu_form">

                            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "FormLogin" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <p class="main-title">光友登入</p>

                                @* 信箱 *@
                                <div class="form-group">
                                    @*<input type="email" class="form-control" name="account" placeholder="電子信箱" required>*@
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", name = "account", placeholder = "電子信箱" })
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                </div>

                                @* 密碼 *@
                                <div class="form-group">
                                    @*<input type="password" class="form-control" name="password" placeholder="會員密碼" required>*@
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", name = "password", placeholder = "會員密碼", required = "required" })
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                </div>

                                @* 驗證碼 *@
                                @*<div class="form-group">
                                    <input type="text" class="form-control code" name="captcha" placeholder="輸入驗證碼" required="required">
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", name = "password", placeholder = "會員密碼", required = "" })
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                    </div>*@

                                @* 登入/註冊按鈕 *@
                                <div class="function_wrap">
                                    @* 登入 *@
                                    <div>
                                        <input type="submit" value="登入" class="clear_btn gu_btn-02 green" />
                                    </div>

                                    @* 註冊 *@
                                    <div>
                                        @Html.ActionLink("註冊", "Register", null, new { @class = "clear_btn gu_btn-02 green is--normal" })
                                    </div>
                                </div>
                                <div class="text_function">
                                    @Html.ActionLink("忘記密碼?", "ForgotPassword")
                                    @*<a href="#" data-remodal-target="ResentMail_Modal">重寄啟用信</a>*@
                                </div>
                            }
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-lg-6">
                        <div class="register_group">
                            <h1 class="main-title">快速登入</h1>
                            <div class="top">
                                <div class="signup-btn is--fast" data-txt="快速註冊">

                                    <section id="socialLoginForm">
                                        @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                                    </section>
                                </div>
                            </div>
                            <div class="login_bottom">
                                <h2>歡迎加入光光盒餐</h2>
                                <p>
                                    免費註冊會員，享有專屬優惠<br>
                                    保留購物記錄，查詢宅配狀況<br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
