@model NikoMealBox.Models.ChangePasswordViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "密碼變更";
}
@section topCSS{

    <link href="~/Content/MemberCenterPage/MemeberCenter.css" rel="stylesheet" />
}



<div class="container">
    <div class="row">
        <div class=" col-sm-12 col-md-12 d-flex ">
            <a class="hyper  nav-link border rounded-pill  d-inline-block border-info " href="#">盒餐訂單 </a>
            <a class="hyper ml-2 nav-link border rounded-pill  d-inline-block border-info " href="@Url.Action("MemeberCenter","Account")">會員資料維護</a>
            <a class="hyper ml-2 nav-link border rounded-pill  d-inline-block border-info " style="background-color:#008A84; color:#FFF;" href="@Url.Action("ChangePassword","Manage")">密碼變更</a>
            <a class="hyper ml-2 nav-link border rounded-pill  d-inline-block bg-danger text-white" href="javascript:document.getElementById('logoutForm').submit()"> 登出 <span class="sr-only">(current)</span></a>
        </div>
    </div>
    <div class="sectionarea mt-2">

        <div class="container body-content">
            @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
            <h3 style="color:#008A84;">密碼變更</h3>
                <hr />
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group row col-12">
                    @Html.LabelFor(m => m.OldPassword, new { @class = "mt-2 col-3 text-center text-justify control-label" })
                    <div class="col-9">
                        @Html.PasswordFor(m => m.OldPassword, new { @class = " form-control text-center text-justify rounded-pill" })
                    </div>
                </div>
                <div class="form-group row col-12">
                    @Html.LabelFor(m => m.NewPassword, new { @class = "mt-2 col-3 text-center text-justify control-label" })
                    <div class="col-9">
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control text-center text-justify rounded-pill" })
                    </div>
                </div>
                <div class="form-group row col-12">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "mt-2 col-3 text-center text-justify control-label" })
                    <div class="col-9">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control text-center text-justify rounded-pill" })
                    </div>
                </div>
            <div class="form-group d-flex justify-content-center text-center ">
                <div class="col-md-offset-2 col-md-10 mb-3">
                    <input type="submit" class="btn btn-default btn-danger" value="送出" />
                    <a href="@Url.Action("ChangePassword","Manage")"><input type="button" id="clean" class="btn btn-default btn-success" value="重新填寫" /></a>
                    <a href="@Url.Action("Index","Home")"><input type="button" id="back" class="btn btn-default btn-primary" value="回主頁" /></a>
                </div>
            </div>
            }

        </div>

    </div>
</div>

}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}