@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("您好 " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">登出</a></li>
        <li><a href="@Url.Action("Login","Orders",new { id = User.Identity.GetUserId()})"><img src="~/Assets/Images/HomePage/cart.png" alt="" width="5%"></a></li>
    </ul>
    }
}
else
{
    <a href="@Url.Action("Login","Account")" class="text-decoration-none">
        <img src="~/Assets/Images/HomePage/member.png" alt="" width="5%">
    </a>
    <a href="@Url.Action("Login","Orders", new { id = User.Identity.GetUserId()})">
        <img src="~/Assets/Images/HomePage/cart.png" alt="" width="5%">
    </a>
}
