@model NikoMealBox.ViewModels.ProductViewModels.Detail

@section topCSS{
    <link href="~/Content/ProductsPage/productdetail.css" rel="stylesheet" />
}
@section endJS{
    <script src="~/Scripts/ProductsPage/productdetail.js"></script>
}
<div class="content">
    <div class="container d-flex">
        <div class="col-8">
            <img src="@Model.ImagePath" alt="">
        </div>
        <div class="text col-4">
            <h3>NT @Model.UnitPrice</h3>
            <h2>@Model.Name</h2>
            <p>@Model.Description</p>
            <hr>
            <span>數量</span>
            <form>
                <div class="value-button" id="decrease" onclick="decreaseValue()" value="Decrease Value">-</div>
                <input type="number" id="number" value="0" />
                <div class="value-button" id="increase" onclick="increaseValue()" value="Increase Value">+</div>
            </form>
        </div>
    </div>
    <div class="Introduction text-center">
        <h2>【營養標示】</h2>
        <ul class="text-left container">
            @*@Model.ImagePath*@
            <li>商品材料 : @Model.Materials</li>
            <li>熱量 : @Model.Calories</li>
            <li>碳水化合物 : @Model.Carbohydrate</li>
            <li>蛋白質 : @Model.Protein</li>
            <li>脂肪 : @Model.Fat</li>
            <li>飽和脂肪 : @Model.SaturatedFat</li>
            <li>反式脂肪 : @Model.TransFat</li>
            <li>糖 : @Model.Sugar</li>
            <li>納 : @Model.Sodium</li>
            <li>蛋奶素 : @Model.IsOvolacto</li>
        </ul>
    </div>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

