@model NikoMealBox.Models.DataTable.Orders

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Orders</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrderStatusId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderStatusId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GetProductDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GetProductDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FinishDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FinishDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PickUpCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PickUpCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PickUpRegion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PickUpRegion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PickUpAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PickUpAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelephoneExtension)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelephoneExtension)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShippingFee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShippingFee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDelete)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDelete)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EditUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EditUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EditTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EditTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
